<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020. automation testing framework team.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="W2A DDF Test Suite">
    <test verbose="2" preserve-order="true" name="/home/deepak/development/testing/ATF">
        <classes>
            <class name="com.framework.w2a.testcases.TestLogin">
                <methods>
                    <include name="loginAsBankManager"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>